.container {
  display: flex;
  height: 100vh;
  max-height: 100%;
  width: 100%;
}

.container_left {
  width: 40%;
  height: 100%;
  background-image: url(https://images.unsplash.com/photo-1626464361024-c2bea1e9cd14?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1868&q=80);
  padding: 20px 30px;
  color: #fff;
}

.container_right {
  width: 450px;
  height: 100%;
  justify-content: center;
  display: flex;
  flex-direction: column;
  padding: 30px;
}

.input_container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.input {
  width: 100%;
  background-color: #eeeeee;
  border-radius: 1rem;
  border: none;
  padding: 10px 20px;
  outline: 0;
}

.label {
  font-weight: bold;
  font-size: small;
  margin-bottom: 10px;
}

.lable_for_checkbox {
  font-weight: lighter;
  font-size: small;
  padding-top: 30px;
}

.input_with_lable {
  display: flex;
  flex-direction: column;
}

.button {
  background-image: linear-gradient(#913d88, #f62459);
  color: #fff;
  width: 200px;
  padding: 10px 20px;
  outline: 0;
  border: none;
  border-radius: 12px;
  margin-top: 20px;
  cursor: pointer;
}

.error_message {
  color: #f62459;
  font-size: small;
  font-weight: 700;
  margin-top: 10px;
  margin-left: 10px;
}

@media only screen and (max-width: 600px) {
  .container {
    flex-direction: column;
  }

  .container_left {
    width: 100%;
    padding: 20px;
    height: 300px;
  }

  .container_right {
    width: 100%;
    padding: 20px;
  }

  .input_container {
    flex-direction: column;
    gap: 20px;
  }

  .input_with_lable {
    display: flex;
    flex-direction: column;
  }

  .input {
    width: 80%;
    padding: 10px 14px;
  }

  .button {
    width: 90%;
    font-weight: bold;
  }
}
